@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

#yeQuote {
    margin: 0;
    padding: 0;
}

.quote--body {
   
    font-family: 'Alfa Slab One', cursive;
    color: white;
    font-size: 40px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    padding: 0 200px;
    text-align: center;
}
